* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: linear-gradient(to bottom right, blue, blueviolet);
  background-attachment: fixed;
}
form {
  display: flex;
  flex-direction: column;
  background-color: #212529;
  max-width: 450px;
  margin-top: 200px;
  height: 500px;
  padding: 50px 20px;
  border-radius: 20px;
  padding-bottom: 30px;
}

label {
  color: #f1f3f5;
  margin-left: 16px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 800;
  letter-spacing: 1.5px;
}

.checkbox {
  margin-right: 10px;
  accent-color: #364fc7;
}
.slider_title {
  color: #f1f3f5;
  font-weight: 700;
  margin-left: 18px;
}
.slider_wrapper {
  display: flex;
  margin: 0;
  width: 390px;
  align-items: center;
}
span {
  float: right;
  margin-right: 0px;
  /* background-color: #000; */
  padding: 10px 15px;
  border-radius: 5px;
  color: #f1f3f5;
  font-weight: 700;
  font-size: 22px;
}
.slider {
  display: flex;
  width: 80%;
  margin-left: 15px;
  accent-color: #364fc7;
  align-self: center;
}

.parent_div {
  flex-direction: row;
  background-color: #000;
  padding: 10px;
  margin: 20px 15px;
  border-radius: 10px;
}

.four_divs,
.strength_div {
  display: inline-block;
  width: 49%;
}

.four_divs div {
  height: 18px;
  width: 10px;
  margin: 0;
  float: right;
  border: 1px solid #f1f3f5;
  margin-right: 5px;
}
.four_divs > p {
  display: inline-block;
  color: #f1f3f5;
  font-weight: bolder;
}

.strength_div > p {
  color: #f1f3f5;
  font-weight: bolder;
}

textarea {
  width: 90%;
  margin: 20px;
  background-color: #000;
  border-radius: 7px;
  resize: none;
  border: 1px solid #f1f3f5;
  color: #f1f3f5;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  padding-top: 24px;
}

.button {
  width: 380px;
  height: 40px;
  margin: 20px auto;
  padding: 20px auto;
  border-radius: 10px;
  border-style: none;
  background-color: #364fc7;
  color: #f1f3f5;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 20px;
}
